table {
    text-align: center;
}

.header-row {
    background-color: #E6F3FF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left; 
}
.header-column{
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    
}

.header-row img {
    align-content: center;
}

.sombreado td{
    background-color: #FFFFCC;
}